.feedback {
  background-image: url();
  background-color: lightgreen;

  &__title {
    font-size: 30px;
    color: #fff;
  }

  &__item {
    background-color: #fff;
    width: 30%;
  }

  &__item-name {
    font-weight: bold;
    font-style: 14px;
    line-height: 18px;
  }

  &__item-socials-list {
    list-style: none;
  }

  &__item-txt {
    font-size: 16px;
    line-height: 22px;
  }

  &__item-data {
    font-size: 14px;
    line-height: 18px;
  }
}