.location {
  color: #191919;

  &__item-title {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__item-list {
    list-style: none;
  }

  &__item-txt{
    font-size: 16px;
    line-height: 22px;
  }

  &__item-txt--bold {
    font-weight: bold;
  }
}