.page-header {
// @media (min-width: @screen-xs) {
  &__inner {
    min-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__phone-link {
    display: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    line-height: 72px;
    color: @gray-diff;
  }

  &__address {
    display: none;
    font-size: 14px;
    line-height: 18px;
    color: @gray-diff;
  }
}
.main-logo {
  display: inline-block;
}

.main-nav {

  &__item {
    display: none;
  }

  &__link {
    display: none;
    padding-right: 18px;
    color: @gray-diff;
    text-decoration: none;
    font-size: 14px;
    line-height: 72px;
  }
}

.page-header .btn {
  display: none;
}
// }