.place-picker {
  background-image: url();
  background-color: lightgreen;

  &__inner {
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 30px;
    font-weight: normal;
    color: #fff;
  }
}