.preview-card {
  &__title {
    font-size: 26px;
  }
  &__txt {
    font-size: 14px;
    line-height: 24px;
  }
  &__txt--col-orange {
    font-size: 18px;
    line-height: 24px;
    color: #ff7435;
  }
}