.rest-type-switcher {

  &__inner {
    min-width: 320px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
  }

  &__type-item {
    color: #1c1c1c;
    text-align: center;

    min-height: 500px;
  }
  &__rest-type-switcher__type-item-pic {
    width: 100%;
  }

  &__type-title {
    font-size: 36px;
    line-height: 42px;
  }

  &__type-txt {
    font-size: 18px;
    line-height: 24px;
  }

  &__tab {
    list-style: none;
  }

  &__tab-item {
    display: inline-block;
}
  &__tab-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: @gray-lighter;
  }
  &__tab-item a:hover {
    color: @orange;
  }

  &__options-inner {
    text-align: center;
  }

  &__options-title {
    font-size: 30px;
    color: #000;
  }

  &__options-list {
    display: none;
    list-style: none;
  }

  &__options-list li {
    display: inline-block;
  }

  &__options-txt {
    font-size: 14px;
    line-height: 72px;
    color: @gray-diff;
  }
}