.rest-type-switcher {
  &__inner {
    width: 280px;
  }

  &__type-item {
    background-image: url();
    color: #1c1c1c;
    text-align: center;
  }

  &__type-title {
    font-size: 36px;
    line-height: 42px;
  }

  &__type-txt {
    font-size: 18px;
    line-height: 24px;
  }

  &__tab {
    list-style: none;
  }

  &__tab-item {
    display: inline-block;
  }

  &__tab-item a {
    text-decoration: none;
  }

  &__tab-item--active {
    display: inline-block;
    color: #ff7435;
  }

  &__options-inner {
    text-align: center;
  }

  &__options-title {
    font-size: 30px;
    color: #000;
  }

  &__options-list {
    display: none;
    list-style: none;
  }

  &__options-list li {
    display: inline-block;
  }

  &__options-txt {
    font-size: 14px;
    line-height: 72px;
    color: #191919;
  }
}