.sales-offers {

  &__item {
    background-image: url();
  }

  &__item-block-title {
    font-size: 14px;
    line-height: 24px;
    color: #ff7435;
    text-transform: uppercase;
  }

  &__item-block-txt {
    font-size: 16;
    line-height: 20px;
    color: #191919;
  }
}