.sales-offers {

  &__inner {
    width: 280px;
    text-align: center;
  }

  &__item {
    background-image: url();
    background-color: lightblue;
    min-height: 200px;
    text-align: left;
  }

  &__item-block {
    background-color: #fff;
    width: 90%;
  }

  &__item-block-title {
    font-size: 14px;
    line-height: 24px;
    color: #ff7435;
    text-transform: uppercase;
  }

  &__item-block-txt {
    font-size: 16;
    line-height: 20px;
    color: #191919;
  }
}